 <header>
       <!--Bloque -->
       <nav class="nav">
            <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fa-solid fa-game-board"></i>
            <img src="./assets/images/ajedrez.jpg?width=350" />
            </button>
             <!--Elemento-->
            <ul class="nav-menu">
               <li class="nav-menu-item">
                  <a href="index.html" i class="fa-solid fa-chess-king"></i>Inicio</a>
               </li>
               <li class="nav-menu-item">
                  <a href="interior1.html" i class="fa-solid fa-chess"></i>Miembros</a>
               </li>
               <li class="nav-menu-item">
                  <a href="interior2.html" i class="fa-solid fa-chess-knight"></i>Información</a>
               </li>
               <li class="nav-menu-item">
                  <a href="interior3.html" i class="fa-solid fa-chess-pawn"></i>Carrusel</a>
               </li>
            </ul>
         </nav>
      </header>